

<input type="text"  
       placeholder="Buscar..."
       hx-get="/lista"
       hx-target="#lista"
       hx-trigger="input changed delay:500ms"
       hx-select="#lista"
       name="busca">

<div id="lista">
  
    <ul>
        {% for aluno in alunos %}
            <li>{{ aluno.id }} {{ aluno.nome }}</li>
        {% else %}
            <li>Não há alunos</li>
        {% endfor %}
    </ul>

    <div>
        {% if pagina > 0 %}
        <button 
            hx-get="/lista?pagina={{ pagina - 1 }}&busca={{ busca }}"
            hx-target="#lista"
	    hx-select="#lista">
            Página Anterior
        </button>
        {% endif %}

	{% if not fim %}
        <button 
            hx-get="/lista?pagina={{ pagina + 1 }}&busca={{ busca }}"
            hx-target="#lista"
	    hx-select="#lista">
            Próxima Página
        </button>
	{% endif %}
	
    </div>
</div>

