<nav>
  <button class="{{ 'ativo' if ativo == 'curtidas' else 'btn' }}"
	  hx-get="/curtidas"
	  hx-target="#cont"
	  hx-swap="innerHTML">
    Curtidas
  </button>
  
  <button class="{{ 'ativo' if ativo == 'jupiter' else 'btn' }}"
	  hx-get="/jupiter"
	  hx-target="#cont"
	  hx-swap="innerHTML">
    Jupiter
  </button>

  <button class="{{ 'ativo' if ativo == 'professor' else 'btn' }}"
	  hx-get="/professor"
	  hx-target="#cont"
	  hx-swap="innerHTML">
    Página Kelly
  </button>
  
</nav>

<h1 id="curtidas"> {{ contador }} </h1>
	
<button hx-post="/curtir"
	hx-trigger="click"
	hx-target="#curtidas"
	hx-swap="innerHTML">
  Curtir
</button>

<button hx-put="/zerar"
	hx-trigger="click"
	hx-target="#curtidas"
	hx-swap="innerHTML"
	hx-confirm="Tem certeza que deseja apagar as curtidas?">
  Zerar curtidas
</button>

<div hx-get="/jupiter"
     hx-target="#cont"
     hx-swap="innerHTML"
     hx-trigger="keyup[shiftKey&&(key=='p'||key=='P')] from:body">
</div>
