
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Meu Site</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
	<style>
	  .btn {
	      background: gray;
	      color: white;
	      padding: 10px;
	      border: none;
	      cursor: pointer;
	  }

	  .btn.active {
	      background: blue;
	  }
	</style>

	<link rel="stylesheet" href="/static/style.css?v=123">
	
    </head>
    <body>
      <h1>Site</h1>

      <nav>
	<button class='btn'
	        hx-get="/curtidas"
		hx-target="#cont"
		hx-swap="innerHTML"
		onclick="setactive(this)">
	  Curtidas
	</button>
	  
	<button class='btn'
	        hx-get="/jupiter"
		hx-target="#cont"
		hx-swap="innerHTML"
		onclick="setactive(this)">
	  Jupiter
	</button>

	<button class='btn'
	        hx-get="/professor"
		hx-target="#cont"
		hx-swap="innerHTML"
		onclick="setactive(this)">
	  Página Kelly
	</button>
	
      </nav>
      
      <div id="cont">

      </div>
      
      
    </body>

      <script>
      function setactive(elemento) {
	  document.querySelectorAll('.btn').forEach(b => b.classList.remove('active'));
	  elemento.classList.add('active');
      }
</script>
</html>
