<DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Meu Site</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script> 
    </head>
    <body>
        <h1>Site</h1>
        <p>Curta abaixo</p>

	<h1 id="curtidas"> {{ contador }} </h1>
	
        <button hx-post="/curtir"
		hx-trigger="click"
		hx-target="#curtidas"
		hx-swap="innerHTML">
          Curtir
        </button>
        
    </body> 
</html>
