
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Meu Site</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
	<style>
	  .btn {
	      background: gray;
	      cursor: pointer;
	  }

	  .ativo {
	      background: blue;
	      cursor: pointer;
	  }
	</style>

	<link rel="stylesheet" href="/static/style.css?v=123">
	
    </head>
    <body>
      <h1>Site</h1>

      <div id="cont">
	<nav>
	  <button class="{{ 'ativo' if ativo == 'curtidas' else 'btn' }}"
	          hx-get="/curtidas"
		  hx-target="#cont"
		  hx-swap="innerHTML">
	    Curtidas
	  </button>
	  
	  <button class="{{ 'ativo' if ativo == 'jupiter' else 'btn' }}"
	          hx-get="/jupiter"
		  hx-target="#cont"
		  hx-swap="innerHTML">
	    Jupiter
	  </button>

	  <button class="{{ 'ativo' if ativo == 'professor' else 'btn' }}"
	          hx-get="/professor"
		  hx-target="#cont"
		  hx-swap="innerHTML">
	    Página Kelly
	  </button>
	  
	</nav>

	<div hx-get="/curtidas"
	     hx-target="#cont"
	     hx-swap="innerHTML"
	     hx-trigger="keyup[shiftKey&&(key=='p'||key=='P')] from:body">
	</div>
	
      </div>

      
      
      
    </body>

      
</html>
